/* Gaya CSS untuk elemen body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  /* Gaya CSS untuk elemen header */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Gaya CSS untuk menu navigasi */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  /* Gaya CSS untuk elemen main */
  main {
    padding: 20px;
  }
  
  /* Gaya CSS untuk elemen footer */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Gaya CSS untuk formulir surat */
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Gaya CSS untuk konten surat dalam format PDF */
  h2 {
    color: #333;
  }
  
  p {
    color: #555;
    margin-bottom: 10px;
  }
  
  /* Gaya CSS untuk elemen footer pada konten surat PDF */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    color: #555;
  }
  